.item {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;

  font-size: 1.2em;

  background-color: #fff;
  border-radius: 15px;
}

.fa,
.fa-regular {
  font-size: 1.2em;
}

.fa-star {
  display: none;
}

.button--favourite,
.button--favourite {
  transition: all .2s;
}

.button--favourite .fa {
  color: rgb(224, 76, 76);
}

.button--favourite .fa:hover {
  color: black;
}


.button--favourite:hover {
  color: rgb(224, 76, 76);
}

.button--remove:hover {
  color: rgb(129, 129, 129);
}

.item__progress {
  margin-left: auto;

  border: none;
  outline: none;
  font-size: 1.2em;

  min-width: 150px;
}

.buttons-group {
  display: flex;

  align-items: center;
  gap: 10px;
}

@media (max-width: 520px) {
  .item {
    flex-direction: column;
    align-items: start;
  }

  .item__input {
    margin-left: 0;
    width: 150px;
  }

  .buttons-group {
    width: 100%;
    justify-content: space-between;
  }
}